:root {
  --nav-hover-color: #4154f1;
  --heading-color: #012970;
  --heading-font: "Nunito", sans-serif;
}
h1,
h2,
h3,
h4 {
  font-family: var(--heading-font);
  color: var(--heading-color);
  font-weight: 700;
}
.nav-item a {
  color: var(--heading-color);
  font-weight: 600;
}
.nav-item a {
  transition: 500ms all;
}
.nav-item a:hover {
  color: var(--nav-hover-color);
}
nav ul li:first-of-type a {
  color: var(--nav-hover-color);
}
.nav-item {
  margin-left: 5px;
  margin-right: 5px;
}
.navbar-brand {
  font-size: 1.7rem;
  color: var(--heading-color);
  font-weight: 600;
}
header {
  z-index: 9999;
  background-color: white;
  box-shadow: 0px 0 18px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* start of hero styling */
section.hero {
  background-image: url("img/hero-bg.png");
  min-height: 95vh;
  cursor: default !important;
}

.hero-img {
  width: 100%;
  position: relative;
  animation: upDown 3s infinite ease-in-out;
}
.hero .hero-buttons button {
  padding: 12px 40px;
  box-shadow: 0 8px 28px rgba(0, 0, 0, 0.1);
  font-weight: 600;
}
/* .hero .hero-buttons button:first-of-type {
  background-color: color-mix(in srgb, #4154f1, transparent 15%);
} */
@keyframes upDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px); /* Adjust as needed */
  }
  100% {
    transform: translateY(0);
  }
}
.about-img {
  width: 100%;
}
.hero h2 {
  font-size: 3rem;
  font-weight: bold;
  font-style: italic;
}
/* end of hero styling */

.intro-info {
  background-color: color-mix(in srgb, #4154f1, transparent 95%);
  padding: 50px;
}
/* values start */
.value-card img {
  width: 100%;
}
section.values .card {
  border: none;
  text-align: center;
  box-shadow: 0px 0 10px rgba(0, 0, 0, 0.1);
  min-height: 470px;
}
.value-card img {
  transition: 500ms all;
}
.value-card:hover img {
  scale: 0.9;
}
/* values end */
/* stats */
.stat-card {
  box-shadow: 0px 0 10px rgba(0, 0, 0, 0.1);
  min-height: 155px;
}
.stat-card i {
  font-size: 2.5rem;
}
.stat-card.clients i:first-of-type {
  color: var(--nav-hover-color);
}
.stat-card.projects i:first-of-type {
  color: #ee6c20;
}
.stat-card.hours i:first-of-type {
  color: #15be56;
}
.stat-card.workers i:first-of-type {
  color: #bb0852;
}
section.stats {
  min-height: 400px;
}
.section-title {
  color: var(--nav-hover-color);
  background-color: color-mix(in srgb, var(--heading-color), transparent 90%);
  font-size: 0.95rem;
  padding: 8px 20px;
  font-weight: 600;
  width: fit-content;
  margin: auto;
  border-radius: 50px;
}
/* stats end */
/* features start */
.features-pic {
  width: 100%;
}
.feature-item {
  box-shadow: 0px 0 30px rgba(0, 0, 0, 0.1);
  padding: 17px 20px;
  font-size: 0.9rem;
}
.feature-item:hover i {
  color: white;
  background-color: #4154f1;
  line-height: 36px;
  text-align: center;
}
.feature-item h5 {
  font-size: 1.15rem;
  color: var(--heading-color);
}
.feature-item i {
  background: color-mix(in srgb, #4154f1, transparent 92%);
  color: #4154f1;
  font-size: 24px;
  border-radius: 3px;
  padding: 0px 4px;
  transition: 500ms all;
}
/* features end */
/* alt features start */
.alt-features-pic {
  width: 100%;
}
.icon-box {
  text-align: center;
}
.icon-box i:first-of-type {
  font-size: 2.5rem;
  color: #4154f1;
}
/* alt features end */
/* services start */
.service-card {
  box-shadow: 0px 0 30px rgba(0, 0, 0, 0.1);
  padding: 60px 30px;
  text-align: center;
  border-radius: 5px;
  transition: 400ms all;
}
.service-card h3 {
  transition: 400ms all;
}
.service-card p {
  transition: 400ms all;
  font-weight: 400;
}
.service-card > i:first-of-type {
  font-size: 36px;
  padding: 20px 40px;
  border-radius: 4px;
  position: relative;
  display: inline-block;
  transition: 400ms all;
}
.service-card a {
  text-decoration: none !important;
  font-weight: 600;
  transition: 400ms all;
}

.service-card:hover a {
  color: white;
}
.service-card:hover p {
  color: white;
}
.service-card:hover > i:first-of-type {
  background-color: white;
}
.service-card:hover h3 {
  color: white;
}
/* activity card start */
.activity-service {
  border-bottom: 4px solid #0dcaf0;
}
.activity-service a {
  color: #0dcaf0;
}
.activity-service > i:first-of-type {
  color: #0dcaf0;
  background: rgba(13, 202, 240, 0.1);
}
.activity-service:hover {
  background-color: #0dcaf0;
}
/* activity card end */
/* activity card start */
.broadcast-service {
  border-bottom: 4px solid #fd7e14;
}
.broadcast-service a {
  color: #fd7e14;
}
.broadcast-service > i:first-of-type {
  color: #fd7e14;
  background: rgba(253, 126, 20, 0.1);
}
.broadcast-service:hover {
  background-color: #fd7e14;
}
/* activity card end */
/* easel card start */
.easel-service {
  border-bottom: 4px solid #20c997;
}
.easel-service a {
  color: #20c997;
}
.easel-service > i:first-of-type {
  color: #20c997;
  background: rgba(32, 201, 151, 0.1);
}
.easel-service:hover {
  background-color: #20c997;
}

/* easel card end */
/* box card start */
.box-service {
  border-bottom: 4px solid #df1529;
}
.box-service a {
  color: #df1529;
}
.box-service > i:first-of-type {
  color: #df1529;
  background: rgba(223, 21, 4, 0.1);
}
.box-service:hover {
  background-color: #df1529;
}
/* box card end */
/* calendar card start */
.calendar-service {
  border-bottom: 4px solid #6610f2;
}
.calendar-service a {
  color: #6610f2;
}
.calendar-service > i:first-of-type {
  color: #6610f2;
  background: rgba(102, 16, 242, 0.1);
}
.calendar-service:hover {
  background-color: #6610f2;
}
/* calendar card end */
/* chat card start */
.chat-service {
  border-bottom: 4px solid #f3268c;
}
.chat-service a {
  color: #f3268c;
}
.chat-service > i:first-of-type {
  color: #f3268c;
  background: rgba(243, 38, 140, 0.1);
}
.chat-service:hover {
  background-color: #f3268c;
}
/* calendar card end */
/* services end */

/* pricing start */
.pricing-item {
  min-height: 565px;
  box-shadow: 0px 0 30px rgba(0, 0, 0, 0.1);
  padding: 40px 20px;
  border-radius: 4px;
  transition: 500ms all;
}
.pricing-item > ul {
  list-style: none;
  padding-left: 0px !important;
}
.pricing-item > ul li {
  margin-bottom: 10px;
}
.pricing-item > p {
  color: #012970;
  font-size: 2rem;
  font-weight: 600;
}
.pricing-item > p span {
  font-size: 1rem;
  color: rgb(192, 192, 192);
}
.pricing-icon i {
  font-size: 2.7rem;
  font-weight: bold;
}
.na {
  text-decoration: line-through;
}
.pricing-item button {
  padding: 8px 40px 10px 40px;
  width: fit-content;
  border-radius: 50px;
  margin: auto;
  font-weight: 500;
}
.pricing-item:hover {
  scale: 1.1;
}
.starter {
  position: relative !important;
  overflow: hidden;
}
.starter::after {
  content: "Featured";
  width: 200px;
  position: absolute;
  top: 18px;
  right: -68px;
  transform: rotate(45deg);
  z-index: 1;
  font-size: 14px;
  padding: 1px 0 3px 0;
  background: #4154f1;
  color: white;
}
/* pricing end */

/* faq start */
.accordion .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.accordion-item {
  width: 100%;
  border-top: none;
  border-right: none;
  border-left: none;
  border-radius: 0px;
}
.accordion-item:hover .accordion-header button {
  color: #4154f1 !important;
}
/* to erase the bootstrap accordion deafult styling */
.faq .accordion-button {
  background-color: transparent;
  border: none;
  outline: none;
  box-shadow: none;
}

.accordion-button:focus {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  background-color: transparent;
  border-color: transparent;
}

/* faq end */
/* portfolio start */
.filters {
  list-style: none;
}
.filters li {
  cursor: pointer;
  font-weight: 600;
  transition: 300ms;
}
.filters li:hover {
  color: #4154f1;
}
.filters li.active {
  color: #4154f1;
}
.portfolio .portfolio-content img {
  transition: 0.3s;
}
.portfolio-content {
  position: relative;
}

.portfolio .portfolio-content .portfolio-info {
  opacity: 0;
  position: absolute;
  inset: 0;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  background: rgba(0, 0, 0, 0.6);
  padding: 15px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 110%;
  height: 110%;
}

.portfolio .portfolio-content .portfolio-info h4 {
  font-size: 14px;
  padding: 5px 10px;
  font-weight: 400;
  color: #ffffff;
  background-color: var(--accent-color);
}

.portfolio .portfolio-content .portfolio-info p {
  position: absolute;
  bottom: 10px;
  text-align: center;
  left: 0;
  right: 0;
  font-size: 16px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.8);
}

.portfolio .portfolio-content .portfolio-info .preview-link,
.portfolio .portfolio-content .portfolio-info .details-link {
  position: absolute;
  left: calc(50% - 40px);
  font-size: 26px;
  top: calc(50% - 14px);
  color: #fff;
  transition: 0.3s;
  line-height: 1.2;
}
.portfolio .portfolio-content .portfolio-info .details-link {
  left: 50%;
  font-size: 34px;
  line-height: 0;
}

.portfolio .portfolio-content:hover .portfolio-info {
  opacity: 1;
}

.portfolio .portfolio-content:hover img {
  transform: scale(1.1);
}
/* portfolio end */

/* testimonials start */

.testimonial-card {
  background-color: var(--surface-color);
  box-shadow: 0px 0 20px rgba(0, 0, 0, 0.1);
  box-sizing: content-box;
  padding: 30px;
  margin: 40px 30px;
  min-height: 320px;
  display: flex;
  flex-direction: column;
  text-align: center;
  transition: 0.3s;
}

.testimonial-card .stars {
  margin-bottom: 15px;
}

.testimonial-card .stars i {
  color: #ffc107;
  margin: 0 1px;
}

.testimonial-card .testimonial-img {
  width: 90px;
  border-radius: 50%;
  border: 4px solid var(--background-color);
  margin: 0 auto;
}

.testimonial-card h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 0;
}

.testimonial-card h4 {
  font-size: 14px;
  color: color-mix(in srgb, var(--default-color), transparent 40%);
  margin: 0;
}

.testimonial-card p {
  font-style: italic;
  margin: 0 auto 15px auto;
}

/* testimonial end */

#dark-mode-toggle {
  background: transparent;
  border: none;
}
